*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  //this defines what 1rem is thats why we dont put it in typography part
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}
.m-72 {
  margin: 20rem;
}
.borderbottom {
  border-bottom: 1px solid $color-grey-1;
}
